<!DOCTYPE html>
<html lang="en">
    <head>

        <%- include ('../partials/head.ejs') %>
    </head>
    

      
<body id= "result">
        <%- include ('../partials/nav.ejs') %>
<section>
    
<ul id="detail">
        <li class = "giphyGif">
            <P>
            <img src="<%= detail.data.images.original.url %> ">
        </P>
        
        </li>
        <li class="giphyInfo">
            <h2><%= detail.data.title %></h2>
            <p><b><%= detail.data.import_datetime %></b></p>
     
        <br>
        <div class="Link">
            <p><a href="<%= detail.data.embed_url %>"><img src="../source/pictures/external-link.svg"></a></p>
            <p><a id="copyurl" value="<%= detail.data.source %>"><img src="../source/pictures/link.svg"></a></p>
               </div>
    <hr>
            <p><b>Rating: </b><%= detail.data.rating %></p>
            <p><b>Uploaded by </b><%= detail.data.username ? detail.data.username : 'Anonymous'%></p>

            
           </li>

</ul>
</section>
<!-- <script src="../js/copyurl.js"></script> -->
<%- include ('../partials/footer.ejs') %>