<!DOCTYPE html>
<html lang="en">
    <head>

        <%- include ('../partials/head.ejs') %>
    </head>
    

      
<body id= "overview">
        <%- include ('../partials/nav.ejs') %>
<section>
    
<ul id="list">
   
    <% giphy.data.forEach(data => { %>
         <li class = "results fixed-ratio">
         <a href="<%= data.id %>" alt="visit <%= data.title %> detailpage">
            <h2><%= data.title %></h2>
         </a>
            <img style="margin-bottom:-5px;" class="fixed-ratio-content"  src="<%= data.images.fixed_height_downsampled.url %>" alt="<%= data.title %>" >
            
            
        </li>
        <% }) %>
</img>
</section>
<%- include ('../partials/footer.ejs') %>
