<!DOCTYPE html>
<html lang="en">
    <head>

        <%- include ('../partials/head.ejs') %>
    </head>
    

      
<body id= "search">
        <%- include ('../partials/nav.ejs') %>
<section>
    
<ul id="list">
   
    <% giphy.data.forEach(data => { %>
        <li class = "results">
            <a href="<%= data.id %>">
               <p><%= data.title %></p>
            </a>
               <img src="<%= data.images.preview_gif %>">
               
               
           </li>
        <% }) %>
</ul>
</section>
</body>
</html>