<!DOCTYPE html>
<html lang="en">
    <head>

        <%- include ('../partials/head.ejs') %>
    </head>
    

      
<body id= "overview" class="searchpage">
        <%- include ('../partials/nav.ejs') %>
<section>
    <h2>Searching for: <i><%= title %> </i> </h2>
<ul id="list">
   
    <% giphy.data.forEach(data => { %>
        <li class = "results">
        <a href="<%= data.id %>">
           <span><%= data.title %></span>
        </a>
           <img src="<%= data.images.original.url %>">
           
           
       </li>
       <% }) %>
</ul>
</section>
</body>
</html>